<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        table{
            text-align: center;
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Code</th>
            <th>Class Code</th> 
            <th>Name</th>
            <th>Instructor</th>
            <th>Units</th>
            <th></th>
        </tr>
    </table>
</body>
</html>